asgiref
Django
django-cors-headers
django-filter
djangorestframework
greenlet
joblib
numpy
pandas
psycopg
psycopg-binary
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
SQLAlchemy
sqlparse
threadpoolctl
typing_extensions
tzdata
Unidecode
wheel
